[submodule "Learning-LP-NU/cstd-dmytrivar-2122"]
    path = Learning-LP-NU/cstd-dmytrivar-2122
    url = https://github.com/ArtemDmytriv/cstd-dmytrivar-2122
    branch = develop
    update = merge
[submodule "Coding-practice/AlgoTester"]
    path = Coding-practice/AlgoTester
    url = https://github.com/ArtemDmytriv/AlgoTester_AD
    branch = master
    update = merge
[submodule "Coding-practice/HackerRank"]
    path = Coding-practice/HackerRank
    url = https://github.com/ArtemDmytriv/HackerRank_AD
    branch = master
    update = merge
[submodule "Learning-LP-NU/Bank-CourseWork-Qt"]
    path = Learning-LP-NU/Bank-CourseWork-Qt
    url = https://github.com/ArtemDmytriv/CourseWorkQt
    branch = master
    update = merge
[submodule "Learning-LP-NU/LP-6sem-PDC-lab2"]
    path = Learning-LP-NU/LP-6sem-PDC-lab2
    url = https://github.com/ArtemDmytriv/LP-6sem-PDC-lab2
    branch = master
    update = merge
[submodule "Learning-LP-NU/LP-6sem-PDC-Rozr"]
    path = Learning-LP-NU/LP-6sem-PDC-Rozr
    url = https://github.com/ArtemDmytriv/LP-6sem-PDC-Rozr
    branch = master
    update = merge
[submodule "Learning-LP-NU/srcacmhw12"]
    path = Learning-LP-NU/srcacmhw12
    url = https://github.com/ArtemDmytriv/srcacmhw12
    branch = master
    update = merge
[submodule "Learning-LP-NU/srcacmhw13"]
    path = Learning-LP-NU/srcacmhw13
    url = https://github.com/ArtemDmytriv/srcacmhw13
    branch = master
    update = merge
[submodule "Work-preparing/GlobalFreelance"]
    path = Work-preparing/GlobalFreelance
    url = https://github.com/ArtemDmytriv/GlobalFreelance
    branch = master
    update = merge
[submodule "Work-preparing/GL_BaseCamp"]
    path = Work-preparing/GL_BaseCamp
    url = https://github.com/ArtemDmytriv/GL_BaseCamp
    branch = master
    update = merge
[submodule "Coding-practice/Book-Solutions"]
    path = Coding-practice/Book-Solutions
    url = https://github.com/ArtemDmytriv/Book_Solutions_AD
    branch = master
    update = merge

